# IDEs and Editors
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Frontend-specific
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Backend-specific
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/bin/
backend/build/
